* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d9d9d9;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    position: absolute;
    width: 448px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #eee;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

header {
    border-radius: 20px 20px 0px 0px;
    border-bottom: 4px solid #ddd;
    background-color: #fff;
}

.title {
    position: relative;
    line-height: 120px;
    color: #ff007a;
    font-size: 24px;
    margin-left: 39px;
}

.title::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 32px;
    border-radius: 0px 10px 10px 0px;
    background-color: #ff007a;
    top: 44px;
    left: -39px;
}

.bucket-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 40px 38px 38px;
}

.bucket-list li {
    list-style: none;
    height: 48px;
    border-radius: 10px;
    border: 4px solid #d9d9d9;
    background-color: #fff;
    padding-left: 15px;
    line-height: 48px;
    color: #888;
}

.bucket-list li.checked {
    position: relative;
    border: 4px solid #759cff;
    color: #759cff;
    font-weight: 700;
}

.bucket-list li.checked::after {
    position: absolute;
    content: "";
    background-image: url("images/check.png");
    width: 20px;
    height: 20px;
    top: 14px;
    right: 14px;
}
